<div id="<%= dom_id comeent %>">
  <p>
    <strong>Content:</strong>
    <%= comeent.content %>
  </p>

  <p>
    <strong>Usser:</strong>
    <%= comeent.usser_id %>
  </p>

  <p>
    <strong>Poost:</strong>
    <%= comeent.poost_id %>
  </p>

</div>
