
<div class="comentario2">
    <% @comeents.each do |comeent| %>
    <p>
    <div class="nombre"><%= comeent.usser.name %></div>
    <div  class="texto-comentario"><%= comeent.content %></div>
    </p>
    <% end %>
</div>