<div id="<%= dom_id reaction %>">
  <p>
    <strong>Kind:</strong>
    <%= reaction.kind %>
  </p>

  <p>
    <strong>Usser:</strong>
    <%= reaction.usser_id %>
  </p>

  <p>
    <strong>Poost:</strong>
    <%= reaction.poost_id %>
  </p>

</div>
