<div id="<%= dom_id poost %>">
    <div class="col-md-4">
        <div class="blog-card blog-card-blog">
            <div class="blog-card-image">
                <a href="#">    
                  <% if poost.image.persisted? %>
                    <%= image_tag poost.image , width:"20%"%>
                  <%end%>
                </a>
                <div class="ripple-cont"></div>
            </div>
                  <div class="blog-table">
                      <h4 class="blog-card-caption">
                          <a href="#"><%= poost.title%></a>
                      </h4>
                      <p class="blog-card-description"><%= poost.description %></p>
                      <div class="ftr">
                          <div class="author">
                          </div>
                       </div>
                  </div>
