<div class="home">

    <% @posts.each do |poost| %>
      <div class="card mb-3 tarjeta" style="max-width: 1200px;">
        <div class="row g-0 tarjeta2">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= poost.title %></h5>
              <p class="card-text"><%= poost.description %></p>
              <p><%= link_to "VER POST", poost, class:"link" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>